---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Work Sans", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
//$brand-color:      #2a7ae2;

$grey-color:       #547D7D;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$mustard: #CCAF0B;
$goldenrod: #FFD900;
$cyan:#a9fdff;

$header-background:rgba(255,255,255,.95);
$header-height:56px;

// Links
$link-color: #E00099;

// Make these into CSS Vars so we can tweak 'em
:root{
    --link-color: #{$link-color};
    --text-color: #{$text-color};
    --base-font-size: #{$base-font-size};
    
    --base-line-height: #{$base-line-height};
    --spacing-unit: #{$spacing-unit};
    --background-color: #{$background-color};
    --super-font-weight: 700;
    --headline-font-weight: 500;
    --base-font-weight: 400;

    --type-ratio-5: 3;
    --type-ratio-4: 2;
    --type-rato-3: 1.5;
    --type-ratio-2: 1.25;
    --type-ratio-1: 1.125;
    --type-ratio--1: .8888889;
    --type-ratio--2: .75;

    --small-font-size: calc(var(--base-font-size) * var(--type-ratio--1));

}

// Width of the content area
$header-width: 1280px;
$content-width:    800px;

$screen-xl:        1600px;
$screen-lg:        1300px;
$screen-md:        1000px;
$screen-sm:        800px;
$screen-xs:        500px;


//Slider theme stuff
$slick-font-path: "/fonts/";
$slick-font-family: "slick";
$slick-loader-path: "./";
$slick-arrow-color: $mustard;
$slick-dot-color: black;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "←";
$slick-next-character: "→";
$slick-dot-character: "•";
$slick-dot-size: 6px;
$slick-opacity-default: 0.75 ;
$slick-opacity-on-hover: 1 ;
$slick-opacity-not-active: 0.25 ;
$slick-list-bg-color: #f0f0f0;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Mixins
@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "galleries"
;
