
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script><!-- jQuery -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script><!-- Slick Slider -->
<script type="text/javascript" src="/js/slicklightbox.js"></script><!-- Slick Lightbox -->
<script type="text/javascript">
  jQuery(function(){
    //Set up image gallery sliders
    jQuery('.gallery').slick({
      centerMode: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      adaptiveHeight: true,
      variableWidth:true
    }).slickLightbox({
      caption:"caption"
    });
    //Set up image gallery lightboxes
    //set up individual lightboxes
    jQuery('figure').not('.gallery figure').each(function(){
      jQuery(this).slickLightbox({
        caption:"caption"
      });
    });
  });
</script>
