
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script><!-- jQuery -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script><!-- Slick Slider -->
<script type="text/javascript" src="/js/slicklightbox.js"></script><!-- Slick Lightbox -->
<script type="text/javascript">
  jQuery(function(){
    //Set up image gallery sliders
    jQuery('.gallery').each(function(){
      slickSettings = {
        centerMode: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        adaptiveHeight: true,
        variableWidth:true
      };
      if(jQuery(this).children().length <= slickSettings.slidesToShow){
        slickSettings.slidesToShow = jQuery(this).children().length -1;
      }
      if (slickSettings.slidesToShow > 0 ){
        jQuery(this).slick(slickSettings).slickLightbox({
          caption:"caption"
        });
      }

    });
    //Set up image gallery lightboxes
    //set up individual lightboxes
    jQuery('figure').not('.gallery figure').each(function(){
      jQuery(this).slickLightbox({
        caption:"caption"
      });
    });
    //Set up the streak creative popup if necessary
    if(getParameterByName('ref')=="streakcreative"){
      $('body').append("<div class='streak-warning'><p><b>Streak Creative</b> is no longer operating. For questions pertaining to streak, feel free to contact me.</p><p>If you are looking for top quality design and digital marketing services, please reach out to <a href='http://www.ethology.com'>Ethology</a>, where I now work.</p><a href='#' class='close button'>Got it</a></div>");
      $('.streak-warning .close').click(function(e){
        e.preventDefault();
        $('.streak-warning').fadeOut();
      });
    }
  });

  //Function to get query string parameters
  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
</script>
