/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: var(--base-font-size, #{$base-font-size});
    line-height: var(--base-line-height, #{$base-line-height});
    font-weight: var(--base-font-weight, 300);
    color: var(--text-color, #{$text-color});
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    padding-top:$header-height; //Accommodate our fixed header.
}

@include media-query($screen-xs) {
  body{
    padding-top:var(--spacing-unit, $spacing-unit);
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: calc(var(--spacing-unit) / 2);
}


hr{
  margin: calc(var(--spacing-unit) * 2) 0;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
p > img{
  display:block;
  margin:0 auto;
}
.img-right{
  float:right;
  margin-left: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
}

/**
 * Figures
 */
figure{
  &.width-400{
    max-width:400px;
  }
  > img {
    display: block;
  }
  &.img-right, &.img-left{
    padding: $spacing-unit/2;
    //border:1px solid $grey-color;
    clear:both;
    display:inline-block;
    figcaption{
      margin:$spacing-unit/2 0;
    }
  }
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight:var(--headline-font-weight);
  margin-top: var(--spacing-unit);
}

h1 {
  font-size:calc(var(--base-font-size) * var(--type-ratio-5));
  font-weight:var(--super-font-weight);
}
h2 {
  font-size:calc(var(--base-font-size) * var(--type-ratio-4));
  margin-top: calc(var(--spacing-unit) *1.5);
  span + & {
    margin-top: 0;
  }
}
h3 {
  font-size:calc(var(--base-font-size) * var(--type-ratio-3));
}
h4 {
  font-size:calc(var(--base-font-size) * var(--type-ratio-2));
}
h5 {
  font-size: calc(var(--base-font-size) * var(--type-ratio-1));
}

table{
  border-collapse:collapse;
  margin-bottom:$spacing-unit;
  thead{
    th,td{
      font-weight: var(--headline-font-weight);
      border-bottom:1px solid $grey-color;
      padding:$spacing-unit/2;
      font-size: $base-font-size;
      text-align:left;
    }
  }
  tbody{
    th, td{
      margin:0;
      border:0;
      padding:$spacing-unit/2;
      font-size:calc(var(--base-font-size) * var(--type-ratio--1));
      border-bottom:1px solid $grey-color-light;
      background:white;
    }
    tr:last-child{
      td, th{
        border-bottom:1px solid $grey-color;
      }
    }
  }
}

/**
 * Links
 */
a {
    color: var(--link-color, $link-color);
    @include transition(all .2s ease-in-out);
    text-decoration: none;
    border-bottom:1px solid rgba(255,255,255,0);

    &:visited {
        color: darken($link-color, 15%);
    }

    &:hover {
        color: var(--link-color, $link-color);
        border-bottom:1px solid var(--link-color, $link-color);
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
*/



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Font Coloring
 */
.subtle{
  color: #757575;
}




/**
 * header
 */

.site-header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  max-width:none;
  background:$header-background;
  min-height: $header-height;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
  z-index:1;
  a{
    border-color: rgba(0,0,0,0);
    color:$text-color;
    &:visited{
      color:$text-color;
    }
    &:hover {
        border-color:rgba(0,0,0,.75);
    }
  }
}

.site-title {
    font-size: 32px;
    line-height:1;
    padding:12px 0 4px;
    float: left;
}

/**
 * Main Nav
 */

.site-nav {
    float: left;
    margin-left:40px;
    .page-link {
        display:inline-block;
        line-height:1;
        padding:24px 0 4px;
        color: #757575;
        &:hover{
          color: #111111;
        }
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}


@include media-query($screen-xs) {
  .site-header{
    position:relative;
  }
  .site-nav, .site-title{
    float:none;
    text-align:center;
    margin-left:0;
  }
  .site-nav .page-link{
    margin-bottom: calc( var(--spacing-unit) / 2);

  }
}

/**
 * Headline stuff
 */
.fancy-strikethrough{
  display:inline-block;
  vertical-align: top;
  label{
    display:block;
    text-align:left;
    color:$grey-color;
    text-decoration:line-through;
  }
}


/**
 * Galleries
 */
ul.gallery{
  padding:1em 0;
  margin:0;
  li{
    padding:.25em;
    border:1px solid #e1e1e1;
    background:white;
    margin:.5em;
    list-style:none;
    max-width:300px;
    text-align:center;
    figcaption{
      margin:0;
    }
    a{
      display:block;
      border:none;
      }
    img{
      display:inline-block;
    }
    &:focus{
      border:0;
      outline:0;
    }
  }
}
figcaption{
  font-style:italic;
  margin:0 0 1em;
}
@include media-query($screen-xs) {
  .img-right{
    float:none;
    margin:0;
  }
}

/***
* Buttons
***/
.button{
  color:white;
  display:block;
  max-width:500px;
  margin:$spacing-unit auto 0;
  padding:$spacing-unit/2;
  min-height:40px;
  text-align:center;
  line-height:40px;
  background:$mustard;
  border:0;
  &:hover{
    background:darken($mustard,5%);
    color:white;
    border:0;
  }
}
