/**
 * Page layout pieces
 */

header, article, .posts{
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

header, .posts{
  text-align:center;
  margin-bottom:$spacing-unit * 2;
  max-width: -webkit-calc(#{$header-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$header-width} - (#{$spacing-unit} * 2));
}
article{
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-bottom:$spacing-unit * 2;
}



/**
 * Site footer
 */
footer {
    border-top: 1px solid $grey-color;
    padding: $spacing-unit 0;
    margin-top:$spacing-unit * 2;
    text-align:center;
    p{
      font-size:14px;
    }
}

@include media-query($screen-md) {
  header, article{
    margin-bottom:$spacing-unit;
  }
  footer{
    margin-top:0;
  }
}

.footer-heading {
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    //font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}




/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    //font-size: 42px;
    //letter-spacing: -1px;
    line-height: 1;


}
.rss-subscribe{
  margin-top:$spacing-unit;
}


/**
 * Streak creative alert
 */
 .streak-warning{
   position:fixed;
   z-index:2;
   top:$spacing-unit *3;
   width:300px;
   left:50%;
   margin-left:-(150 + $spacing-unit);
   overflow:auto;
   background:white;
   padding:$spacing-unit;
   border:1px solid $grey-color;
   box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
 }
