/* CSS Document */

body{
	background: url(images/tiles.gif) repeat;	
	font-family:Helvetica, Arial, sans-serif;
	color:#333;
	}
	
h1{
	margin: 2px 0 5px 0;
	padding:0;
}

div.content{
	background:none;
	float:left;
	width:404px;
	height:559px;
	margin:20px 0;
	background:url(images/nav/textbox.png) no-repeat;
	}
	
ul, li{
	list-style:none;
	margin:0;
	}
	
div.content p{
	margin:10px;
	size:14px;
	line-height:1.2;
	color:#333;
	}
	
div.content .text{
	padding:10px;
	line-height:1.5;
	}
	
div.pic{
margin:0;
padding:0;
}
.mininav{
	line-height:18px;
	font-size:10px;
	padding:0 45px;
	}
.fright{
	clear:right;
	float:right;
	}
.fleft{
	float:left;
	clear:left;
}
a{text-decoration:none; color:#006699; border:none;}
a:hover{text-decoration:none; color:#3399CC; border:none;}
a img{border:none;}

/* Large Image Pages */

div.wrapper-wide{
	width:800px;
	margin: 20px auto 0;
	}
div.widenav{
	float:left;
	width:800px;
	height:200px;
	margin-top:10px;
	background:url(images/nav/topnavback.png) no-repeat top left;
}

.widenav ul{
	display:block;
	padding-top:22px;
	margin:auto 0;
	}
	
.widenav li
{
	display:block;
	float:left;
	list-style:none;
	height:19px; *height:21px;
	margin-left:0;
	margin-top:8px;
	padding-left:25px;
	padding-right:20px;
	background:url(images/nav/flower_mini.png) no-repeat left top;
	font-size:14px;
	padding-top:2px;
	float:left;
}

div.wide .text{
	width:350px;
	float:right;
	margin-right:25px;
	margin-left:25px;
	margin-top:0;
	margin-bottom:45px;
	line-height:1.3;
	}
div.content h1{
	margin-left:10px;
	font-size:22px;
	color:#333;
	}
div.wide{
	background:none;
	width:800px;
	height:559;
	float:left;
	background:url(images/nav/backwide.png) no-repeat;
	}
div.title{
	margin-left:40px;
	font-size:20px;
	margin-top:15px;
	height:31px;
	font-weight:bold;
	color:#333;
}
div.wide-thumb{
	background:none;
	width:800px;
	height:610px;
	float:left;
	background:url(images/nav/backwidethumbs.png) no-repeat;
	}
div.wide .pichalf{
	float:right;
	height:466px;
	margin-top:0;
	width:400px;
	text-align:right;
}
div.wide .picfull{
	margin-top:0;
	width:100%;
	text-align:center;
	}

/* Thumbnail Page */

ul.thumbs{
	padding:0;
}
.thumbs li{
	display:block;
	width:150px;
	height:150px;
	margin-bottom:0;
	padding:0;
	float:left;
	margin-left:40px;
	margin-top:40px;
}

li.left{
	clear:all;
	float:left;
	}
li.right{
	float:right;
	}

	/* ---- Images on the thumbnail page ---- */
	.thumbs a{
	display:block; 
	width:100%; 
	height:100%;
	margin:0; 
	text-align:center;
	line-height:150px; 
	font-weight:bold; 
	font-size:20px;
	color:#006699;
	text-indent:-10000px;
	}
	.thumbs a:hover{
	text-indent:0;
	}
	a.img1{background:url(images/thumbs/selfpromo.png) no-repeat top left;}
	a.img2{background:url(images/thumbs/artofplay.png) no-repeat top left;}
	a.img3{background:url(images/thumbs/skaterock.png) no-repeat top left;}
	a.img4{background:url(images/thumbs/duck.png) no-repeat top left;}
	
	a.img5{background:url(images/thumbs/crusadesite.png) no-repeat top left;}
	a.img6{background:url(images/thumbs/nau.png) no-repeat top left;}
	a.img7{background:url(images/thumbs/fatherhood.png) no-repeat top left;}
	a.img8{background:url(images/thumbs/ubiquitek.png) no-repeat top left;}
	
	a.img9{background:url(images/thumbs/calendar.png) no-repeat top left;}
	a.img10{background:url(images/thumbs/jitters.png) no-repeat top left;}
	a.img11{background:url(images/thumbs/hibiscusgirl.png) no-repeat top left;}
	a.img12{background:url(images/thumbs/esd.png) no-repeat top left;}
	/**/
	a.img1:hover{background:url(images/thumbs/selfpromo_o.png) no-repeat top left;}
	a.img2:hover{background:url(images/thumbs/artofplay_o.png) no-repeat top left;}
	a.img3:hover{background:url(images/thumbs/skaterock_o.png) no-repeat top left;}
	a.img4:hover{background:url(images/thumbs/duck_o.png) no-repeat top left;}
	
	a.img5:hover{background:url(images/thumbs/crusadesite_o.png) no-repeat top left;}
	a.img6:hover{background:url(images/thumbs/nau_o.png) no-repeat top left;}
	a.img7:hover{background:url(images/thumbs/fatherhood_o.png) no-repeat top left;}
	a.img8:hover{background:url(images/thumbs/ubiquitek_o.png) no-repeat top left;}
	
	a.img9:hover{background:url(images/thumbs/calendar_o.png) no-repeat top left;}
	a.img10:hover{background:url(images/thumbs/jitters_o.png) no-repeat top left;}
	a.img11:hover{background:url(images/thumbs/hibiscusgirl_o.png) no-repeat top left;}
	a.img12:hover{background:url(images/thumbs/esd_o.png) no-repeat top left;;}

/* Navbars */
.sidenav
	{
	float:left;
	height:559px;
	width:200px;
	background:url(images/nav/sidenavback.png) no-repeat top left;
	margin-left:10px;
	margin-top:20px;
}

.sidenav ul{
	padding-top:20px;
	margin:0;
	padding-left:20px;
	}
	
.sidenav li
{
	display:block;
	clear:left;
	float:left;
	list-style:none;
	height:19px; *height:21px;
	margin-left:0;
	margin-top:8px;
	padding-left:25px;
	background:url(images/nav/flower_mini.png) no-repeat left top;
	font-size:12px;
	padding-top:2px;
	float:left;
}

.minilink
{
	list-style:none;
	display:block;
	height:20px; *height:23px;
	margin-left:60px;
	padding-left:20px;
	background:url(images/nav/flower_mini.png) no-repeat left;
	font-size:12px;
	padding-top:1px;
	float:left;
	vertical-align:middle;
}


